<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crazy Flask Superchat</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"   rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <main>
  {% block header %}
  
      <h1>{% block title %}Get Started{% endblock %}</h1>
      <p>Get absolutely crazy with this simple superchat Flask App.</p>
    
  {% endblock %}
    {% block content %}
      <form method="post" action="{{ url_for('chat') }}">
        <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}" id="username" required>
        <input type="password"  placeholder="Password" name="password" value="{{ request.form.password }}" id="password" required>
        <input type="submit" value="Continue">
      </form>
    {% endblock %}
    <p>{{ error }}</p>
    </main>

</body>
</html>